.top{
    -moz-column-count: 2;
    -moz-column-gap: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 50%;
    column-count: 2;
    column-gap: 50%;
    padding-top: 2rem;
}

.dispatch-row1{
    margin: 1rem;
  
}
.col-101{
    margin-left: 4rem;
}
.top-form{
    padding-top: 2rem;
}